<div class="projects">
    <div class="info">
        <h1>Shopping Application</h1>
        <small>MEAN</small>
        <h3>Created a web application mimicing a shopping application.</h3>
        <a href="https://tranquil-inlet-18338.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Newsletter App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap</small>
        <h3>Created a web application where people can sign up to my news letter.</h3>
        <a href="https://tranquil-woodland-72786.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Weather App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap</small>
        <h3>Created a web application where people can search for the weather of any given city or state.</h3>
        <a href="https://shrouded-eyrie-45868.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Simon Game</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, JQuery</small>
        <h3>Created a Simon game on a web server.</h3>
        <a href="https://murmuring-hollows-57073.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>TodoList App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, Mongoose</small>
        <h3>Created a Todo List App.</h3>
        <a href="https://stark-temple-02717.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Blog App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, Mongoose</small>
        <h3>Created a Blog App where people can read and post blogs.</h3>
        <a href="https://fast-shelf-28065.herokuapp.com/"><button class="btn btn-outline-secondary">Visit</button></a>
    </div>
</div>