<div class="projects">
    <div class="info">
        <h1>Shopping Application</h1>
        <small>MEAN</small>
        <h3>Created a web application mimicing a shopping application.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Newsletter App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap</small>
        <h3>Created a web application where people can sign up to my news letter.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Weather App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap</small>
        <h3>Created a web application where people can search for the weather of any given city or state.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Simon Game</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, JQuery</small>
        <h3>Created a Simon game on a web server.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>TodoList App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, Mongoose</small>
        <h3>Created a Todo List App.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Blog App</h1>
        <small>HTML, CSS, Javascript, Node.js, Express, Bootstrap, Mongoose</small>
        <h3>Created a Blog App where people can read and post blogs.</h3>
        <button class="btn btn-outline-secondary">Visit</button>
    </div>
</div>