<div class="profile">
    <img class="profile-pic" src="../../../assets/images/profile-picture.png" alt="profile-picture-img">
    <div class="content">
        <div class="heading">
            <h1>Myeongcheol Kim</h1>
            <h2>Software Engineer</h2>
        </div>
        <br>
        <div class="info">
            <p>I'm currently working at TCS and learning modern technologies such as Angular, React, and Java.
                <br><br> Constantly working on numerous projects to get better at these tech stacks
                <br><br> while looking for new opportunities to expand my knowledge and hone my current skills.</p>
        </div>
    </div>
</div>