<div class="contact">
    <div class="info">
        <!-- <button class="btn btn-outline-secondary" href="mailto:danielkim011029@gmail.com">Email</button>
        <button class="btn btn-outline-secondary" href="https://www.linkedin.com/in/myeongcheol-daniel-kim-278891174/">LinkedIn</button> -->
        <a href="mailto:danielkim011029@gmail.com"><button class="btn btn-outline-secondary">Email</button></a>
        <a href="https://www.linkedin.com/in/myeongcheol-daniel-kim-278891174/"><button class="btn btn-outline-secondary">LinkedIn</button></a>
    </div>
</div>