<div class="work-experience">
    <div class="info">
        <h1>AllocateRite | 1/2022 - Present</h1>
        <h3>Software Engineer</h3>
        <ul>
            <li>Front-end developer to re-implement and restructure a stock/crypto trading platform based on business logic changes and to onboard different kinds of users (React.js).</li>
            <li>Contributed to an AI-driven real estate application based on customer requirements and backend changes on the front-end (vue.js).</li>
            <li>Maintained and wrote re-useable code as a full stack Java developer using JSP, servlets, and SQL </li>
            <li>Tested, debugged, and wrote solutions to complex problems to increase performance.</li>
        </ul>
    </div>
    <div class="info">
        <h1>Tata Consultancy Services | 8/2021 - 1/2022</h1>
        <h3>Software Engineer</h3>
        <ul>
            <li>Agile software development. </li>
            <li>Built full stack web Java applications using JDBC, Oracle SQL, Servlets, and JSP.</li>
            <li>Built full stack web applications using MEAN stack such as ecommerce application, food ordering app, and banking system. </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Bizzie co LLC | 1/2021 - 8/2021</h1>
        <h3>Application Developer</h3>
        <ul>
            <li>Developed a cross platform mobile application.</li>
            <li>Researched, designed, and developed an app that allows users to connect with other users and attend events.</li>
            <li>Implemented clean and efficient APIs for high performance and efficient CRUD operations.</li>
            <li>Implemented clean and efficient APIs for high performance and efficient CRUD operations.</li>
            <li>Wrote clean documented code for reusability.</li>
        </ul>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Tmcell | 2/2021 - 5/2021</h1>
        <h3>Software Engineer Intern</h3>
        <ul>
            <li>Full stack software engineer intern position</li>
            <li>Achieved using RESTFUL APIs to extract information from database to display real time information onto front end.</li>
            <li>Achieved fluent interaction between users and database.</li>
        </ul>
    </div>
</div>