<div class="work-experience">
    <div class="info">
        <h1>Tata Consultancy Services | 8/2021 - Present</h1>
        <h3>Software Engineer</h3>
        <ul>
            <li>Agile software development. </li>
            <li>Full stack Java/SQL applications such as pizza ordering system.</li>
            <li>Full stack MEAN applications such as ecommerce, messaging, food ordering app.</li>
        </ul>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Bizzie co LLC | 1/2021 - 8/2021</h1>
        <h3>Application Developer</h3>
        <ul>
            <li>Developed a cross platform mobile application.</li>
            <li>Researched, designed, and implemented scalable app that retrievals user data and displays real time information.</li>
            <li>Implemented APIs to maintain organized code and scalability.</li>
            <li>Wrote clean documented code for reusability.</li>
            <li>Tested, debugged, and wrote solutions to complex problems to increase performance.</li>
            <li>Achieved clean UI, UX, and clean database storage for efficient interaction between users and the database.</li>
        </ul>
    </div>
    <br>
    <br>
    <div class="info">
        <h1>Tmcell | 2/2021 - 5/2021</h1>
        <h3>Software Engineer Intern</h3>
        <ul>
            <li>Full stack software engineer intern position</li>
            <li>Achieved using RESTFUL APIs to extract information from database to display real time information onto front end.</li>
            <li>Achieved fluent interaction between users and database.</li>
        </ul>
    </div>
</div>